.login{
    height:calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
rgb(225, 225, 225, 0.5),rgb(225, 225, 225, 0.5)
    ), url("https://images.unsplash.com/photo-1617785899222-fe06b15b6dd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW9ja3Vwc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logintitle{
    font-size: 50px;
}
.loginform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginform > label{
    margin: 10px 0;
    font-size: 18px;
    font-family: 'poppins','san-serif';
}
.loginform > ::placeholder{
    font-size: 15px;
}
.logininput{
    padding: 10px;
    background-color: white;
    border: none;
}
.loginbtn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightsalmon;
    border: none;
    cursor: pointer;
    color: white;
}
.registerbttn{
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: lightsalmon;
    color: white;
    border: none;
}