.write{
    padding-top: 50px;
}
.writeimg{
    margin-left: 150px;
    width:70vw;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.writeform{
    position: relative;
}
.writeformgroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeicon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:#8d8a8a;
    cursor: pointer;
}
.writeinput{
    font-size: 30px;
    padding: 20px;
    border: none;
    width:70vw;
}
.writeinput:focus{
    outline: none;
}
.writetext{
    font-size: 20px;
    height: 100vh;
}
.writesubmit{
    position: absolute;
    top: 20px;
     right: 50px;
    background-color: #dfa937;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
